$background: lighten(#FFF, 0%);//white
$secondary-color: #fff;
$tertiary-color: #800020;
$text-color: #000;
$secondary-text-color: #228b22;
$em: 16px;

//Homepage
$main-pic-landscape: url('../img/path-landscape.jpg');
$main-pic-portrait: url('../img/path-portrait.jpg');
