@-webkit-keyframes fade{from{opacity:1;}
to{opacity:.7;}
}
@keyframes fade{from{opacity:1;}
to{opacity:.7;}
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
*{box-sizing:border-box;}
body{line-height:1;background-color:white;width:100%;font-family:Rokkitt,serif;color:#000;font-size:20px;letter-spacing:.32px;line-height:22.4px;}
@media (max-width: 768px){body{height:1100px;}
}
.container-full{width:100%;padding:0;margin:0;}
h1,h2,h3,h4,h5{font-family:Ubuntu,sans-serif;color:#228b22;font-weight:bold;}
h1{font-size:48px;}
h2{font-size:32px;color:#800020;}
a:hover{text-decoration:none;}
#main-nav{background:rgba(255,255,255,0.65);}
#main-nav li a,#main-nav .icon-bar{color:#000;}
#hero:before{content:"";display:block;position:absolute;left:0;top:0;height:475px;width:100%;z-index:-1;background-image:url(../img/path-portrait.jpg);background-size:cover;background-repeat:no-repeat;-webkit-filter:sepia(0.5);filter:sepia(0.5);}
@media (min-width: 480px){#hero:before{background-image:url(../img/path-landscape.jpg);}
}
@media (min-width: 992px){#hero:before{background-position:0 -175px;}
}
#hero{height:475px;width:100%;}
#hero p{color:#800020;font-size:25.6px;font-weight:bold;text-shadow:5px 5px 5px #fff,-5px -5px 5px #fff,-5px 5px 5px #fff,5px -5px 5px #fff;position:relative;top:405px;}
@media (min-width: 768px){#hero p{top:450px;}
.chunk{margin:30px 4.166% 0;}
}
.small-margin{margin:30px 4.166% 0;}
#projects{margin-top:70px;}
.project-summary{margin-top:50px;}
.project-summary img{width:100%;}
.project-summary a h2{color:#800020;text-underline:none;}
.project-summary:hover{-webkit-animation:fade .5s ease-in forwards;animation:fade .5s ease-in forwards;}
#about-me{background:#800020;min-height:300px;margin:40px 0;color:#fff;}
#about-me h1{margin:45px 4.166%;color:#fff;}
#about-me p{font-size:32px;margin:40px 4.166%;line-height:32px;}
#skills h1{font-size:40px;}
#skills ul{margin:30px auto;}
#skills li{font-size:32px;line-height:32px;color:#800020;}
